<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="post">
    <label for="">EMAIL</label>
    <input type="text" name="username" value="test@test.com.co">
    <label for="">password</label>
    <input type="password" name="password" value="123">
    <button type="submit">Envair</button>
    </form>
  </body>
</html>
